# Install as /etc/systemd/system/NAME.service.d/20-ovirt-encryptor-credential.conf
# for the unit that invokes encrypt_conf_files.py.
[Service]
LoadCredentialEncrypted=ovirt-encryptor-passphrase:/etc/credstore.encrypted/ovirt-encryptor-passphrase
